version: "3"

services:
  mysqldb:
    image: mysql
    volumes:
      - db:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: tpachato
    #  MYSQL_ROOT_PASSWORD: Tayeb@99
  app:
    depends_on:
      - mysqldb
    image: nadhirtoumi/nadhirtoumi-5sae2-g7-tpachatproject
    ports:
      - 8089:8089
    environment:
      MYSQL_HOST: mysqldb
      MYSQL_DATABASE: tpachato
      MYSQL_PORT: 3306
      MYSQL_USER: root
      MYSQL_PASSWORD:
volumes:
  db:
